/*changes the styles of the cards rendered */
.isFirst {
  color: red;
}

.actionMovie {
  font-family: cursive;
  color: gold;
}

.adventureMovie{
  color: dodgerblue;
}

.contentWrapper {
  flex: auto;
  justify-content: center;
  margin: auto;
  border: 5px dashed gold;
}


