/*changes the styles of the cards rendered */
.isFirst {
  color: red;
}

.actionMovie {
  font-family: cursive;
  color: black;
}

.adventureMovie{
  color: dodgerblue;
}

.contentWrapper {
  background-color: rgb(199, 233, 255);
  flex: auto;
  justify-content: center;
  margin: auto;
  border: 5px dashed gold;
}
