<!--<div class="contentWrapper">-->

  <div class="content-card">
    <h2 *ngIf="contents.id">
      ID: {{contents.id}} <br>
    </h2>

    <h2 *ngIf="contents.author">Author:  {{contents.author}} </h2>

    <div *ngIf="contents.imgUrl">
      <img class="content-image" src="{{contents.imgUrl }}" (click)="imgClicked(contents.imgUrl)"
           alt="Image of {{contents.title}}">
      <!--HOW TO DO ELSE?-->
      <img src="https://www.flaticon.com/free-icon/picture_122130"
           alt="">
      <!--           alt="Image from https://www.flaticon.com/free-icon/picture_122130"-->

    </div>

    <h2 *ngIf="contents.title"> Title:     {{contents.title}}</h2>
    <h2 *ngIf="contents.body">Content Body:  {{contents.body}}<br></h2>
    <h2 *ngIf="contents.type">Type:     {{contents.type}}<br></h2>
    <h2 *ngIf="contents.tags">Tags:     {{contents.tags}}</h2>

  </div>
<!--</div>-->
