<!--<div class="contentWrapper">-->

  <div class="content-card">
    <h2>
      ID: {{contents.id}} <br>
    </h2>

    <h2>Author:  {{contents.author}} </h2>
    <img class="content-image" src="{{contents.imgUrl}}" (click)="imgClicked(contents.imgUrl)"
         alt="Image of {{contents.title}}">
    <h2> Title:     {{contents.title}}</h2>
    <h2>Content Body:  {{contents.body}}<br></h2>
    <h2>Type:     {{contents.type}}<br></h2>
    <h2>Tags:     {{contents.tags}}</h2>

  </div>
<!--</div>-->
