:host {
  display: block;
}

.content-card {
  width: 50%;
  height: 5%;
  border: #000000 12px;
  border-bottom-style: dot-dash;
  background-color: blue;
}

img {
  margin: auto;
  width: 100%;
}

:host.isFirst {
  color: dodgerblue;
}

.contentWrapper {
  flex: auto;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  width: 50%;
  margin: auto;
  background-color: yellow;
}
