/*DEFAULT CONTENT CARD STYLES*/

.content-card {

  display: flex;
  flex-flow: column;
  align-content: center;

  word-break: break-word;
  text-align: center;

  margin: auto;
  padding: 5%;
  height: 10%;
  width: 75%;
  font-weight: normal;
}

img {
  width: 50%;
  margin: auto;
}
