<!--<mat-toolbar>-->

<!--&lt;!&ndash;  <button mat-raised-button>&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLink="/add" routerLinkActive="active">&ndash;&gt;-->

<!--&lt;!&ndash;      Add an Item&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->

<!--&lt;!&ndash;  <button mat-raised-button>&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLink="/items" routerLinkActive="active">&ndash;&gt;-->
<!--&lt;!&ndash;      View Item List&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->

<!--</mat-toolbar>-->

<router-outlet></router-outlet>

