<mat-toolbar>
<button mat-raised-button>
  <a routerLink="" routerLinkActive="active">
    GO TO HOME
  </a>
</button>
</mat-toolbar>



<div class="mat-list-base">
<!--  // Sorts Table by item ID-->

  <div *ngIf="items.length > 0 else nope">
    <table matSort (matSortChange)="sortedData($event)" matSortStart="asc">
      <tr>
        <mat-card class="mat-list-item" *ngFor="let item of items;">

          Title:{{item.title}}
          Date: {{item.dateAdded}}

          <a [routerLink]="['/item', item.id ]" routerLinkActive="active">View details</a>

          <button mat-button class="mat-warn" (click)="deleteItem(item.id)">Delete Item
          </button>

        </mat-card>
      </tr>
      <!-- The item list -->
  </table>
  </div>

  <ng-template #nope>

    NO Data...

  </ng-template>

</div>
