<button mat-raised-button>
  <a routerLink="" routerLinkActive="active">
    GO TO HOME
  </a>
</button>

<div class="mat-list-base">
  <!-- The item list -->
  <div *ngIf="items">

    <mat-card class="mat-list-item" *ngFor="let item of items;">
      <div *ngIf="item.id">
        Title:{{item.title}}
        Date: {{item.dateAdded}}

        <a [routerLink]="['/item', item.id ]" routerLinkActive="active">View details</a>

        <button mat-button (click)="deleteItem(item.id)">Delete Item
        </button>

      </div>
    </mat-card>
  </div>

  <div *ngIf="!items || items.length <= 0">

    NO Data...

  </div>

</div>
