.container {
  display: inline-flex;
  margin: 20% 200% 10% 35%;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.mat-primary {
  background-color: orange;
  color: white;
}

.mat-primary a {
  color: white;
}

.container2 {
  margin: auto;
  justify-content: center;
  align-content: center;
}
