.container {
  display: inline-flex;
  margin: 20% 200% 10% 35%;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.container2 {
  display: flex;
  align-content: space-between;
}

button {
  background-color: orange;
  color: white;
  margin: 10px;
}

.mat-primary a {
  color: white;
  text-underline: transparent;
}
